@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #AAAAAA;
    --secondary-color: #FFFFFF;
    --link-color: #E02C6D;
    --text-color: #6C6C6C;
    --heading-text-color: #0A0826;
    --primary-font: 'Poppins';
}

body {
    font-family: var(--primary-font);
    background-color: var(--secondary-color);
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

section {
    padding: 80px 0px;
}

.section-heading {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 70px;
    color: var(--heading-text-color);
}

.fa-star {
    color: #FB8200;
}

.fa-star-half-o {
    color: #FB8200;
}

.see-more-btn {
    color: var(--link-color);
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

/* Header */
.logo h3 {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: var(--heading-text-color);
}

.navbar {
    padding: 20px 0px;
}

.menu {
    display: flex;
    align-items: center;
}

.nav-link {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 36px;
    color: var(--heading-text-color);
    margin: 0px 15px !important;

}

/* Hero Section */


.hero-heading {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 70px;
    color: var(--heading-text-color);
}

.hero-short-info {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--heading-text-color);
}

.hero-btn {
    background-color: #E02C6D;
    border-radius: 30px;
    color: var(--secondary-color);
    font-weight: 500;
    transition: 0.3 ease-in;
    padding: 8px 20px;
}

.hero-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Brand */
#brand {
    width: 80%;
    margin: 0 auto;
}

#brand .divider {
    background: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
    position: absolute;
    width: 1110px;
    height: 1px;
    left: 178px;
    top: 820px;
}

#brand .divider2 {
    background: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
    position: absolute;
    width: 1110px;
    height: 1px;
    left: 178px;
    top: 731px;
}

#brand .row {
    padding: 10px 5px;
}

#brand img {
    width: 100px;
    height: 60px;
    object-fit: contain;
}

/* Products */
#products {
    width: 80%;
    margin: 0 auto;
}

.card {
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 1px 2px 6px 3px rgba(0, 0, 0, 0.05);
    border: none;
}

.card img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.card-body {
    padding: 5px 0px !important;
}

.product-name {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    color: var(--heading-text-color);
}

.price {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;

    color: rgba(0, 0, 0, 0.87);
}

.ratting-info {
    display: flex;
    align-items: center;
}

.ratting-count {
    margin-left: 10px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;

    display: flex;
    align-items: center;
    letter-spacing: 0.1px;
}

.p-specification li {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 143%;
    letter-spacing: 0.018em;
    color: var(--primary-color);
    list-style: none;
    display: block;
}

.pag {
    display: flex;
    align-items: center;
    justify-content: end;
}

/* Feature */
#feature {
    width: 90%;
    margin: 0 auto;
}

.join-btn {
    background-color: #E02C6D;
    color: var(--secondary-color);
    font-weight: 500;
    transition: 0.3 ease-in;
    padding: 8px 25px;
}

/* Footer */
footer {
    background-color: var(--heading-text-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 30px 0px;
}

footer h3 {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

.copyright {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 10px;
    color: #D9DBE1;
}

.all-right {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 10px;
    color: #D9DBE1;
}

.footer-social a i {
    color: var(--secondary-color);
    padding: 0px 5px;
}
.mobile_nav{
    display: none;
}
@media(max-width: 768px){
    .desktop_nav{
        display: none;
    }
    .mobile_nav{
        display: block;
    }
    .m-navbar{
        padding: 15px;
    }
    .m-menu{
        background-color: var(--link-color);
        z-index: 999;
        top: 63;
        width: 85%;
        position: absolute;
        display: none;
        color: var(--secondary-color);
    }
    .m-menu li a{
        color: var(--secondary-color) !important;
    }
    .m-navbar-layout{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .m-logo h3{
        font-size: 14px;
        color: var(--heading-text-color);
        margin-top: 8px;
    }
    .fa-bars{
        padding: 20px;
        cursor: pointer;
    }
    .m-navbar-right-icons{
        display: flex;
        align-items: center;
        justify-content: end;
    }
    .m-navbar-right-icons i{
        margin: 0px 10px;
    }
    .m-hero{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        text-align: center;
    }
    .m-hero{
        font-size: 24px;
    }
    .hero-btn{
        font-size: 14px;
    }
    .hero-img img{
        width: 100%;
    }
    #brand{
        width: 100%;
    }
    #brand img{
        width: 100%;
    }
    .m-brand-img{
        margin-top: 21px;
    }
    .m-brand{
        display: flex;
        flex-wrap: wrap;
    }
    .divider,.divider2{
        display: none;
    }
    #products{
        width: 100%;
    }
    .m-feature {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        text-align: center;
    }
    .m-hero-heading{
        font-size: 22px;
        text-align: center;
    }
    .m-feature-btm{
        margin-bottom: 20px;
    }
}
@media(max-width: 600px){

}
@media(max-width: 500px){

}
@media(max-width: 400px){

}